html *{
    font-family: 'Roboto';
}

main{
    display:grid;
    grid-template-columns:81px calc(100% - 81px);
}
#main_content{
    padding:2vh 4vw 2vh 6vw;
}
h1{
    font-size:48px;
    line-height:50px;
    margin:0.83em 0;
}
#name_element{
    color:#FF0101;
}

#infos_container{
    display:grid;
    grid-template-columns:73% 25%;
    justify-content:space-between;
    font-size:48px;
    height:calc(100vh - (132px + 1.66em + 4vh));
    max-height:calc(100vh - (132px + 1.66em + 4vh));
}
#graphs_container{
    height: 100%;
    display: flex;
    max-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    font-size:16px;
    position:relative;
}

#perfs_container{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100%;
}
